<nav class="bg-gray-800 text-white p-4 shadow-lg">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center">
        <img
          src="../../../../assets/tmp-name.jpg"
          alt="ZM-BH"
          class="w-16 h-16"
        />
        <button
          class="ml-4 text-white lg:hidden focus:outline-none"
          aria-label="Toggle navigation"
          (click)="toggleMenu()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </button>
      </div>
  
      <!-- Navigation Links -->
      <div [class.hidden]="!menuOpen" class="w-full lg:w-auto lg:flex lg:items-center lg:space-x-4">
        <a routerLink="home" class="block px-4 py-2 hover:text-yellow-500">Főoldal</a>
        <a routerLink="updates" class="block px-4 py-2 hover:text-yellow-500">Updatek</a>
        <a routerLink="about" class="block px-4 py-2 hover:text-yellow-500">Rólunk</a>
        <a routerLink="contact" class="block px-4 py-2 hover:text-yellow-500">Kapcsolat</a>
        <a routerLink="#" class="block px-4 py-2 hover:text-yellow-500">Szolgáltatások</a>
        <a routerLink="#" class="block px-4 py-2 hover:text-yellow-500">Projektek</a>
      </div>
  
      <!-- Auth Links -->
      <div class="hidden lg:flex items-center space-x-4">
        @if(isLoggedIn$){
            <button (click)="logout()" class="px-4 py-2 hover:text-red-500">Logout</button>
            }@else {
            <a routerLink="login" class="px-4 py-2 hover:text-green-500">
                <i class="fa fa-solid fa-sign-in"></i>
            </a>
            <a routerLink="register" class="px-4 py-2 hover:text-blue-500">
                <i class="fa fa-solid fa-key"></i>
            </a>
        }
        
      </div>
    </div>
  </nav>
  